.world-event-screen > .event-timer
{
    top: 20.0rem;
    left: 58.0rem;
    /*width: 102.4rem;
    height: 76.8rem;*/
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    z-index: 2;
}

.world-event-buttons .blocker
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.world-event-buttons .row .event-id
{
    height: 2rem;
    width: 2rem;
    position: relative;
    float: left;
    margin-top: 0.75rem;
    margin-left: -0.5rem;
}

.world-event-buttons .row.has-big-buttons .event-id
{
    height: 2rem;
    width: 2rem;
    position: relative;
    float: left;
    margin-top: 2.25rem;
    margin-left: -0.5rem;
}

.world-event-buttons .row .event-counter
{
    height: 2rem;
    width: 4rem;
    position: absolute;
    float: right;
    margin-top: 0.75rem;
    margin-left: 73rem; /* better to use positions? I have no clue how to do it properly... */
    text-align: right;
}

.world-event-buttons .row.has-big-buttons .event-counter
{
    height: 2rem;
    width: 4rem;
    position: absolute;
    float: right;
    margin-top: 2.25rem;
    margin-left: 73rem; /* better to use positions? I have no clue how to do it properly... */
    text-align: right;
}
